<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xu.common.dao.ProMarketBaseDao">
	<resultMap id="bean" type="com.xu.common.model.ProMarketBase">
		<id column="MKT_ID" property="mktId" jdbcType="VARCHAR" />
		<result column="MKT_NAME_SHOW" property="mktNameShow" jdbcType="VARCHAR" />
		<result column="DAILY_MIN_PACKAGES" property="dailyMinPackages" jdbcType="INTEGER" />
		<result column="WEIGHT_MIN" property="weightMin" jdbcType="FLOAT" />
		<result column="WEIGHT_MAX" property="weightMax" jdbcType="FLOAT" />
		<result column="BASE_PRICE" property="basePrice" jdbcType="FLOAT" />
		<result column="BASE_WEIGHT" property="baseWeight" jdbcType="FLOAT" />
		<result column="GROUP_LIMIT" property="groupLimit" jdbcType="INTEGER" />
		<result column="GROUP_DURATION" property="groupDuration" jdbcType="INTEGER" />
		<result column="USE_REQUIRE" property="useRequire" jdbcType="CLOB" />
	</resultMap>
	<select id="getProMarketBase" resultMap="bean" >
		select MKT_ID,MKT_NAME_SHOW,DAILY_MIN_PACKAGES,WEIGHT_MIN,WEIGHT_MAX,BASE_PRICE,BASE_WEIGHT,GROUP_LIMIT,GROUP_DURATION,USE_REQUIRE from PRO_MARKET_BASE where MKT_ID = #{mktId}
	</select>
	
</mapper>

